nav ul{
  font-family: Arial;
  list-style: none;
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

nav li {
  border-top: solid 1px;
  padding: 5px 10px;
}

nav a {
  text-decoration: none;
}

#navbar {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: min-content;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    position: sticky;
    display: block;
    background-color: rgba(255,225,225);
}

body {
  display: block;
  font-family: Arial;
  background-image:url(https://images.pexels.com/photos/261763/pexels-photo-261763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100%;
}

#main-doc {
  position: relative;
  margin-top: 235px;
}

section {
  margin: 5px auto;
  background-color: #9ef;
  border: 1px;
  border-radius: 20px 20px 12px 12px;
}

header {
  font-size:1.5em;
  font-weight: bold; 
  background-color: #fed;
  width: 100%;
  text-align: center;
  border: 1px;
  border-radius: 20px 20px 0px 0px;
}

p {
  padding: 5px
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
  font-size:1.1em;
}

code {
  display: block;
  margin: 10px 10px;
}

@media (max-width: 815px){

#navbar {
    position: absolute;
    top: 0px;
    max-height: 225px;
  }
}